{% extends 'app1/base.html' %}
{% block content %}

    {% for rooms in rooms %}

        {% if rooms.created_by == user %}

        <div class="container text-center">
            <a href="{% url 'room' pk=rooms.pk %}"target="_blank">
                
                <div class="p-6 bg-white rounded-b-xl">
                    <br>
                    <h2 class="text-2xl hotelname"># {{ rooms.name }}</h2>
                </div>
            </a>
        </div>

        {% endif %}

    {% endfor %}

{% endblock %}