{% extends 'app1/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container bg-light shadow-md p-5 form-layout rounded">
    <form method="POST" autocomplete="off">

        {% csrf_token %}
            
        {{form.Đánh_giá|as_crispy_field}}
        {{form.Nhận_xét|as_crispy_field}}

        <br>
        <div class="container d-flex justify-content-end">

            <button type="submit" class="btn btn-primary"> 
                Đánh giá
    
            </button>
            
        </div>

    </form>

</div>
{% endblock %}