{% extends 'app1/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <body>

        <div class="container bg-light shadow-md p-5 form-layout">

            <h3> Tài khoản </h3>

            <h5> Chỉnh sửa thông tin  <i class="fa fa-user" aria-hidden="true"></i>  </h5>
            <br>
            <hr>
            <br>
            
            <form method="POST" autocomplete="off">

                {% csrf_token %}


                {{form.email|as_crispy_field}}

                <br>

                {{form.last_name|as_crispy_field}}
                
                <br>
                
                {{form.first_name|as_crispy_field}}

                <br>

                <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Xong &nbsp; </button>


            </form>

            <br>


        </div>

        <br>

    </body>


{% endblock %}