
<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">

  &nbsp; &nbsp; &nbsp;

    <a class="navbar-brand main-heading p-2" href="{% url 'homepage' %}"> 
            
      &nbsp; <strong>Demo</strong>
    
    </a>
  
  
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
  
    </button>
  
  
      <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
  
        
        <ul class="navbar-nav mr-auto">
  
  
          &nbsp;     &nbsp;     &nbsp; 
  
          {% if user.is_authenticated %}
  
            <li class="nav-item">
        
              
  
            </li>
  
  
            &nbsp;     &nbsp;     &nbsp; 
  
  
            <li class="nav-item">
  
              <a class="nav-link" href="{% url 'user-logout' %}">Đăng xuất &nbsp; </a>
  
            </li>
            &nbsp;     &nbsp;     &nbsp; 
  
  
            <li class="nav-item">
  
              <a class="nav-link" href="{% url 'info' %}">Tài khoản &nbsp; </a>
  
            </li>
            

  
        </ul>
  
  
        {% else %}
  
        <li class="nav-item">
  
          <a class="nav-link" href="{% url 'register' %}"> Đăng ký </a>
  
        </li>
  
  
        &nbsp;     &nbsp;     &nbsp; 
  
  
        <li class="nav-item">
  
          <a class="nav-link" href="{% url 'login' %}">Đăng nhập</a>
  
        </li>
  
  
        {% endif %}
      
        &nbsp;     &nbsp;     &nbsp; &nbsp;     &nbsp;     &nbsp; 
        &nbsp;     &nbsp;     &nbsp; &nbsp;     &nbsp;     &nbsp; 
        &nbsp;     &nbsp;     &nbsp; &nbsp;     &nbsp;     &nbsp; 
        &nbsp;     &nbsp;     &nbsp; &nbsp;     &nbsp;     &nbsp; 
        &nbsp;     &nbsp;     &nbsp; &nbsp;     &nbsp;     &nbsp; 
        &nbsp;     &nbsp;     &nbsp; &nbsp;     &nbsp;     &nbsp; 
        &nbsp;     &nbsp;     &nbsp; &nbsp;     &nbsp;     &nbsp; 
        &nbsp;     &nbsp;     &nbsp; &nbsp;     &nbsp;     &nbsp; 
        &nbsp;     &nbsp;     &nbsp; &nbsp;     &nbsp;     &nbsp;
        &nbsp;     &nbsp;     &nbsp; &nbsp;             
        
        <form class="d-flex px-5" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-light btn-outline-success" type="submit">Search</button>
        </form>
      </div>
  
  
  </nav>




