{% extends 'app1/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div>
    <div class="container-fluid text-center"><h2 style="color: #78C2AD;"><b>Hotels</b></h2></div>

    <hr style="height: 5px; border:none; color: #A9A9A9;background-color: #A9A9A9;">
    <div>
        <div class="container text-center p-5">
            <div class="row row-cols-3 row-gap-5 col-gap-5">
        {% for hotel in hotels %}
        <div>
            <a href="{% url 'detail' hotel.id %}">
                <div>
                    <div class="col"><img src="https://www.theknot.com/tk-media/images/9a506749-95e9-47cf-857e-5374f2205b93~rs_768.h" style="max-width: 200px; height: 250px; object-fit: cover" class="rounded" alt=""></div>
                    <h2 class=" text ">{{ hotel.name }}</h2>
                    <p class=" text ">{{ hotel.rooms.count }} rooms</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<hr style="height: 5px; border:none; color: #A9A9A9;background-color: #A9A9A9;">
    </div>
<div>
{% endblock %}