{% extends 'app1/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    
<div class="container-fluid text-center"><h2 style="color: #78C2AD;"><b>Đặt Phòng</b></h2></div>

<hr style="height: 5px; border:none; color: #A9A9A9;background-color: #A9A9A9;">
<br>

<form method="POST" autocomplete="off">

    {% csrf_token %}

<div class="container p-3 rounded shadow-lg" style=" background-color: #78C2AD;">
    <div class="row">
        <div class="col-3">

            <div class="row px-auto mx-auto">
                
                <div class="container-fluid p-3 text-center rounded mx-auto px-auto" style=" width: 90%; background-color: aliceblue;">

                    {% if rooms.image %} 
                    <img src="{{ rooms.image.url }}" class="rounded shadow-lg" style="width: 200px; height: 250px; object-fit: cover;" alt="ảnh lỗi r huhu">
                    {% endif %}
                    <br>
                    <br>

                        <h3 class="text-danger">Giá Phòng</h3>
                        <h3>{{rooms.price}} <b class="text-warning">đ</b> / Ngày</h3>



                </div>

                
            </div>
            <br>
            <div class="row px-auto mx-auto">                

            </div>


        </div>

        <div class="col-9">

                <div class="row">

                    <div class="col-10 rounded p-2 px-auto mx-auto">
                        <div class="container-fluid p-3 text-center rounded mx-auto px-auto" style="width: 99%; background-color: aliceblue;" >
                    
                        <h2>Phòng # {{ rooms.name }} của {{rooms.hotel}}</h2>

                        </div>
                    
                    </div>

                </div>

                <br>

                <div class="row">

                    <div class="container p-3 text-center rounded mx-auto px-auto shadow-lg" style="width: 97%; min-height: 200px; background-color: aliceblue;" >
                        
                        <h4>Mô tả</h4>
                        <hr style=" height: 3px; border:none; color: #A9A9A9;background-color: #A9A9A9;">
                        <div class="container rounded px-auto mx-auto p-3" style="min-height: 150px; background-color: #D9D9D9;">

                            <p style="word-wrap: break-word;">{{ rooms.description }}</p>

                        </div>
                        
                    </div>

                </div>

                <br>

                <div class="row">

                    <div class="container-fluid p-3 text-center rounded mx-auto px-auto" style="width: 97%; background-color: aliceblue;" >
                    
                        <h4>Phòng đã bị đặt</h4>
                        <hr style=" height: 3px; border:none; color: #A9A9A9;background-color: #A9A9A9;">

                            <div class="row row-cols-3 row-gap-4 p-3 text-center" style=" background-color: #D9D9D9;">

                                {% for bookings in bookings %}
                                    {% if bookings.room == rooms %}

                                        <div class="container rounded px-auto mx-auto text-center p-2" style="background-color: aliceblue; width: 30%;">

                                            <h6 class="text-info">{{ bookings.check_in }}</h6>
                                            <h6>tới</h6>
                                            <h6 class="text-info">{{ bookings.check_out }}</h6>

                                        </div>
                                        &nbsp;
                                
                                    {% endif %}
                                {% endfor %}

                            </div>

                        </div>

                </div>

                <br>

                <div class="row rounded text-center p-2 mx-auto px-auto" style="background-color: aliceblue;">
                    
                    <h4>Chọn ngày đặt</h4>
                    
                    <h3><i class="fa-regular fa-calendar" style="color: #78C2AD;"></i></h3>

                    <hr style=" height: 3px; border:none; color: #A9A9A9;background-color: #A9A9A9;">



                    <div class="col">

                        <div class="container-fluid p-3 text-center rounded mx-auto px-auto">
                    
                            {{form.check_in|as_crispy_field}}

                            </div>

                    </div>

                    <div class="col">

                        <div class="container-fluid p-3 text-center rounded mx-auto px-auto">
                    
                            {{form.check_out|as_crispy_field}}
    
                            </div>

                    </div>


                </div>

        </div>
        
    </div>

    <br>

    <div class="container d-flex justify-content-end">



            <button type="submit" class="btn btn-warning btn-lg"> 
                            Đặt phòng

                        </button>

    </div>
        

    <br>

</div>
</form>
<br>

<hr style="height: 5px; border:none; color: #A9A9A9;background-color: #A9A9A9;">


<br>


{% endblock %}