{% extends 'app1/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    
<div class="container-fluid text-center"><h2 style="color: #78C2AD;"><b>Booking section</b></h2></div>

<hr style="height: 5px; border:none; color: #A9A9A9;background-color: #A9A9A9;">
<br>

<form method="POST" autocomplete="off">

    {% csrf_token %}

<div class="container p-3 rounded shadow-md" style=" background-color: #78C2AD;">
    <div class="row">
        <div class="col-3">

            <div class="row px-auto mx-auto">
                
                <div class="container-fluid p-3 text-center rounded mx-auto px-auto" style=" width: 90%; background-color: aliceblue;">

                    {% if rooms.image %} 
                    <img src="{{ rooms.image.url }}" class="rounded shadow-lg" style="width: 200px; height: 250px; object-fit: cover;" alt="ảnh lỗi r huhu">
                    {% endif %}
                    <br>
                    <br>
                    {% if rooms.is_booked == True %}
                        <h3 style="color: red;">Phòng đã bị đặt</h3>

                    {% else %}
                        <h3 style="color: #78C2AD;">Phòng còn trống</h3>
                    {% endif %}


                </div>

                
            </div>
            <br>
            <div class="row px-auto mx-auto">                

            </div>


        </div>

        <div class="col-9">

                <div class="row">

                    <div class="col-10 rounded p-2 px-auto mx-auto">
                        <div class="container-fluid p-3 text-center rounded mx-auto px-auto" style="width: 99%; background-color: aliceblue;" >
                    
                        <h2># {{ rooms.name }}</h2>

                        </div>
                    
                    </div>

                </div>

                <br>

                <div class="row">

                    <div class="container-fluid p-3 text-center rounded mx-auto px-auto" style="width: 97%; background-color: aliceblue;" >
                    
                        <h4>Giá phòng</h4>
                        <hr style=" height: 3px; border:none; color: #A9A9A9;background-color: #A9A9A9;">
                        <div class="container rounded px-auto mx-auto p-3" style=" background-color: #D9D9D9;">

                            <h3>{{ rooms.price }} $</h3>

                        </div>
                        
                        </div>

                </div>

                <br>

                <div class="row rounded text-center p-2 mx-auto px-auto" style="background-color: aliceblue;">
                    
                    <h4>Date</h4>
                    
                    <h3><i class="fa-regular fa-calendar" style="color: #78C2AD;"></i></h3>

                    <hr style=" height: 3px; border:none; color: #A9A9A9;background-color: #A9A9A9;">



                    <div class="col">

                        <div class="container-fluid p-3 text-center rounded mx-auto px-auto">
                    
                            {{form.book_in|as_crispy_field}}

                            </div>

                    </div>

                    <div class="col">

                        <div class="container-fluid p-3 text-center rounded mx-auto px-auto">
                    
                            {{form.book_out|as_crispy_field}}
    
                            </div>

                    </div>


                </div>

        </div>
          
    </div>

    <br>

    <div class="container d-flex justify-content-end">

        <button type="submit" class="btn btn-warning btn-lg"> 
            Đặt phòng

        </button>

    </div>
        

    <br>

</div>
</form>
<br>

<hr style="height: 5px; border:none; color: #A9A9A9;background-color: #A9A9A9;">


<br>


{% endblock %}